<!DOCTYPE html>
<html ng-app="dbackpacker">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- App-Title with HTML -->
    <title>DBackpacker</title>
    <!-- CDN MDL -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- Style for item table -->
    <link rel="stylesheet" href="css/itemTable.css">
</head>

<body>
    <!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
    <div class="mdl-layout mdl-js-layout">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">DBackpacker</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
                        <label class="mdl-textfield__label" for="sample2">Maximal Gewicht in kg</label>
                        <span class="mdl-textfield__error">Eingabe ist keine Zahl</span>
                    </div>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Menü</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">Alles zurücksetzen</a>
                <a class="mdl-navigation__link" href="">Optionen</a>
                <a class="mdl-navigation__link" href="">Beenden</a>
            </nav>
        </div>
        <!-- Item-Table -->
        <div id="itemTable" ng-controller="itemController">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <!-- <tr>
                        <th>Gegenstandname</th>
                        <th>Gewicht (kg)</th>
                        <th>Wert (€)</th>
                    </tr> -->
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">
                            <div class="mdl-textfield mdl-js-textfield" style="width:100%">
                                <input class="mdl-textfield__input" type="text" id="itemnameInput" ng-model="itemnameInput">
                                <label class="mdl-textfield__label" for="sample1">Gegenstand...</label>
                            </div>
                        </th>
                        <th>
                            <div class="mdl-textfield mdl-js-textfield" style="width:100%">
                                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="weightInput" ng-model="weightInput">
                                <label class="mdl-textfield__label" for="sample2">Gewicht (kg)...</label>
                                <span class="mdl-textfield__error">Input is not a number!</span>
                            </div>
                        </th>
                        <th>
                            <div class="mdl-textfield mdl-js-textfield" style="width:100%">
                                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="valueInput" ng-model="valueInput">
                                <label class="mdl-textfield__label" for="sample2">Wert (€)...</label>
                                <span class="mdl-textfield__error">Input is not a number!</span>
                            </div>
                        </th>
                        <th>
                            <button class="mdl-button" style="display: block; width: 100%;height:100%;" ng-click="updateItemTable()">
              <i class="material-icons mdl-color-text--black" role="presentation">add</i>
              <span class="visuallyhidden">add</span>
            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items">
                        <td class="mdl-data-table__cell--non-numeric">{{item.name}}</td>
                        <td>{{item.weight}}</td>
                        <td>{{item.value}}</td>
                        <td>
                            <button class="mdl-button" style="display: block; width: 100%;height:100%;" ng-click="updateItemTable()">
                                <i class="material-icons mdl-color-text--black" role="presentation">clear</i>
                                <span class="visuallyhidden">add</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>


    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/dbackpacker.js"></script>
</body>

</html>