#itemTable {
    width: 100%;
    margin-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
#itemTable table {
    width:calc(100% - 68px);
}

#itemTable td {
    text-align: left;
}

.addBtn {
    position: absolute;
    left:calc(100% - 121px);
    top: 84px;
}

